<style type="text/css">
* { margin: 0; padding: 0; }
.page-wrap{
  width:100%;
}
.what_heading{
  text-align: center;
  border-bottom:2px solid #2ecc71;
}
#submit_button{
  background-color: #2ecc71
}
.top-bar-section li a{
  background-color:#2ecc71!important;
}
.top-bar-section li a:hover, #submit_button:hover{
  opacity:.8;
}
.row{
  padding-left: 20px;
  padding-right:20px;
  max-width:100%;
}
.row li{
  list-style: none outside none;
  font-size: 18px;
  display: inline-block;
  width: 33%;
  height: 80px;
  text-align: center;
}
.inner_contact{
  max-width:800px;
  margin:0 auto;
}
.row li:hover{
  color:#2ecc71;
}
.top-bar{
  background:none repeat scroll 0% 0% #34495e;
}
#contact_wrapper{
  background-color: #34495e!important;
}
#contact{
  background-color: #34495e;
  margin-top:150px;
}
.top-bar .name h1 a{
  max-width:300px;
  
}
.top-bar .right a{
  border-right:1px solid white!important;
  line-height: 44px!important;
  z-index:1000!important;
}
.column-group .gutters{
  text-align: center;
}
.ink-grid{
  text-align: center!important;
}
.what_heading{
  margin-bottom: 46px;
}
#page-wrap a{
  color: white;
}
.button{
  background-color:  #34495e;
  min-width:280px;
  font-size:18px;
}
.reveal-modal{
  background-color: #34495e;
  color:white;
  border: 5px solid white;

}
.reveal-modal h2{
  color:#2ecc71;
}
#page-wrap a:hover, #page-wrap a:focus{
  color:#2ecc71;
  outline:none;
}
@media only screen and (max-width:850px){
  .row li{
    width:100%;
  }
  #contact{
    margin-top:200px;
  }
  .reveal-modal{
    max-width:99.9%;
  }
}
@media only screen and (min-width:1150px){
  .button{
    font-size:28px;
    width:400px;
    margin-top:50px;
  }
}
@media only screen and (max-width:450px){
  .top-bar #awesome{
    display:none;
  }
}
hr{
  border-color:#2ecc71;
}
label{
  font-size:18px!important;
  letter-spacing: .5px;
}
abbr{
  display:none;
}
.reveal-modal h2{
  text-align: center;
}
#contact_wrapper h3{
  padding-top:20px;
}
/*Buttons */

/* End */
</style>
      <div id="page-wrap">
        <div class="row">
            <h1 class="what_heading">What I do</h1>
              <li><a class="button" href="#" data-reveal-id="htmlmodal"> HTML5</a></li>
              <li><a class="button" href="#" data-reveal-id="cssmodal">CSS3</a></li>
              <li><a class="button" href="#" data-reveal-id="jsmodal">Javascript</a></li>
              <li><a class="button" href="#" data-reveal-id="designmodal">UX/UI Design</a></li>
              <li><a class="button" href="#" data-reveal-id="gitmodal">Git</a></li>
              <li><a class="button" href="#" data-reveal-id="herokumodal">Heroku</a></li>
              <li><a class="button" href="#" data-reveal-id="seomodal">SEO</a></li>
              <li><a class="button" href="#" data-reveal-id="djangomodal">Ruby on Rails</a></li>
              <li><a class="button" href="#" data-reveal-id="analyticsmodal">Django</a></li>
          </div> 
        </div>            
<div class="content" id="contact">
    <div class="inner_contact" align="center">
      <div id="contact_wrapper" class="ui tertiary form segment">
        <h3>Want something built? Send me a message</h3>
        <hr>
        <%= simple_form_for @contact, :html => {:class => 'ui form attached fluid segment' } do |f| %>
          <div class="field" id="name">
            <label><label>
            <%= f.input :name, :required => true %>
          </div>
          <div class="field" id="email">
            <label><label>
          <%= f.input :email, :required => true %>
          </div>
          <div class="field">
            <label><label>
          <%= f.input :message, :as => :text, :required => true %>
          </div>
          <div>
            </br>
            <%= f.button :submit, 'Send message', :class=> "ui blue submit button", :id=>'submit_button' %>
          </div>
        <% end %>
      </div>
    </div>
</div>
</div>
</div>
    <section class="column-group gutters">
        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                </ul>
                <p class="note">All rights reserved.</p>
            </div>
        </footer>
    </section>
    <!--Modal-->
    <div id="htmlmodal" class="reveal-modal" data-reveal>
      <h2>HTML5</h2>
      <p>I pride myself in writing clean and reusable HTML5 code.</p>
      <p>Comfortable with HAML</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="cssmodal" class="reveal-modal" data-reveal>
      <h2>CSS3</h2>
      <p>Comfortable writing CSS from scratch or utilizing and customizing a CSS Framework.</p>
      <p>Experience working with SASS and LESS</p>
      <p>Experience testing cross browser and cross device.</p>
      <p>Expert with Bootstrap and Foundation, experience with Semantic UI.</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="jsmodal" class="reveal-modal" data-reveal>
      <h2>Javascript</h2>
      <p>Extensive experience writing lightweight and reusable Javascript.</p>
      <p>Experienced and comfortable with Jquery and its plugins.</p>
      <p>Experience working with NodeJS and AngularJS.</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="analyticsmodal" class="reveal-modal" data-reveal>
      <h2>A/B Testing and Analytics</h2>
      <p>Experience  performing A/B tests using vanilla javascript and Kissmetrics</p>
      <p>Experience implementing and monitoring Google Analytics</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="gitmodal" class="reveal-modal" data-reveal>
      <h2>Git</h2>
      <p>Several years of experience with Git and Github.</p>
      <p>Extensive experience pushing, pulling, and merging.</p>
      <p>Comfortable teaching others how to efficiently use Git.</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="herokumodal" class="reveal-modal" data-reveal>
      <h2>Heroku</h2>
      <p>Experience deploying applications to Heroku</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="designmodal" class="reveal-modal" data-reveal>
      <h2>UX/UI Design</h2>
      <p>Knowledge of how to maximize the user experience page by page.</p>
      <p>Extensive knowledge of User interface design, including color theory and best font practices.</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="seomodal" class="reveal-modal" data-reveal>
      <h2>Search Engine Optimization</h2>
      <p>Experience developing web pages that adhere to web standards.</p>
      <p>Experience using meta tags and key word driven content on HTML pages to maximize page rank.</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="djangomodal" class="reveal-modal" data-reveal>
      <h2>Server Side Technologies</h2>
      <p>Extensive experience with Ruby on Rails and Django.</p>
      <p>Experience developing Rails applications.</p>
      <p>Comfortable using Django Tags within HTML templates.</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <script>
    $('#awesome').addClass('animated zoomInLeft');
    </script>
    <script> 
      $(document).foundation();
    </script>
