<style type="text/css">
* { margin: 0; padding: 0; }
.page-wrap{
  width:100%;
  min-height:100%;
}
.what_heading{
  text-align: center;
  border-bottom:2px solid #2ecc71;
}
#submit_button{
  background-color: #2ecc71
}
.top-bar-section li a{
  background-color:#2ecc71!important;
}
.top-bar-section li a:hover, #submit_button:hover{
  opacity:.8;
}
.row{
  padding-left: 20px;
  padding-right:20px;
}
.row li{
  list-style: none outside none;
  font-size: 18px;
  display: inline-block;
  width: 33%;
  height: 80px;
  text-align: center;
}
.row li:hover{
  color:#2ecc71;
}
.top-bar{
  background:none repeat scroll 0% 0% #34495e;
}
#contact_wrapper{
  background-color: #34495e!important;
}
.top-bar .name h1 a{
  max-width:175px;
}
.column-group .gutters{
  text-align: center;
}
.ink-grid{
  text-align: center!important;
}
.page-wrap{
  height:100%;
}
@media only screen and (max-width:850px){
  .row li{
    width:100%;
  }
}
</style>
      <div id="page-wrap">
        <div class="row">
            <h1 class="what_heading">What I do</h1>
              <li>Valid and Semantic HTML5</li>
              <li>Proper use of CSS3</li>
              <li>Lightweight Javascript</li>
              <li>Efficient Jquery</li>
              <li>Effortless Branching and Merging with Git</li>
              <li>Deployment to Heroku</li>
              <li>Ruby on Rails</li>
              <li>Proper Tags and Keywords for SEO</li>
              <li>Django</li>
          </div>             
<div class="content" id="contact">
    <div align="center">
      <div id="contact_wrapper" class="ui tertiary form segment">
        <h3>Want something built? Send me a message</h3>
        <%= simple_form_for @contact, :html => {:class => 'ui form attached fluid segment' } do |f| %>
          <div class="field" id="name">
            <label><label>
            <%= f.input :name, :required => true %>
          </div>
          <div class="field" id="email">
            <label><label>
          <%= f.input :email, :required => true %>
          </div>
          <div class="field">
            <label><label>
          <%= f.input :message, :as => :text, :required => true %>
          </div>
          <div>
            </br>
            <%= f.button :submit, 'Send message', :class=> "ui blue submit button", :id=>'submit_button' %>
          </div>
        <% end %>
      </div>
    </div>
</div>
</div>
</div>
    <section class="column-group gutters">
        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                </ul>
                <p class="note">All rights reserved.</p>
            </div>
        </footer>
    </section>
    <script>
    $('#awesome').addClass('animated zoomInLeft');
    </script>
