<style type="text/css">
* { margin: 0; padding: 0; }
.page-wrap{
  width:100%;
  min-height:100%;
}
.what_heading{
  text-align: center;
  border-bottom:2px solid #2ecc71;
}
#submit_button{
  background-color: #2ecc71
}
.top-bar-section li a{
  background-color:#2ecc71!important;
}
.top-bar-section li a:hover, #submit_button:hover{
  opacity:.8;
}
.row{
  padding-left: 20px;
  padding-right:20px;
}
.row li{
  list-style: none outside none;
  font-size: 18px;
  display: inline-block;
  width: 33%;
  height: 80px;
  text-align: center;
}
.row li:hover{
  color:#2ecc71;
}
.top-bar{
  background:none repeat scroll 0% 0% #34495e;
}
#contact_wrapper{
  background-color: #34495e!important;
}
.top-bar .name h1 a{
  max-width:300px;
}
.column-group .gutters{
  text-align: center;
}
.ink-grid{
  text-align: center!important;
}
#page-wrap{
  height:100%;
}
#page-wrap a:hover, #page-wrap a:focus{
  color:#2ecc71;
  outline:none;
}
@media only screen and (max-width:850px){
  .row li{
    width:100%;
  }
}
</style>
      <div id="page-wrap">
        <div class="row">
            <h1 class="what_heading">What I do</h1>
              <li><a href="#" data-reveal-id="htmlmodal">Valid and Semantic HTML5</a></li>
              <li><a href="#" data-reveal-id="cssmodal">Proper use of CSS3</a></li>
              <li><a href="#" data-reveal-id="jsmodal">Lightweight Javascript</a></li>
              <li><a href="#" data-reveal-id="jquerymodal">Efficient Jquery</a></li>
              <li><a href="#" data-reveal-id="gitmodal">Effortless Branching and Merging with Git</a></li>
              <li><a href="#" data-reveal-id="herokumodal">Deployment to Heroku</a></li>
              <li><a href="#" data-reveal-id="rubymodal">Ruby on Rails</a></li>
              <li><a href="#" data-reveal-id="seomodal">Search Engine Optimization</a></li>
              <li><a href="#" data-reveal-id="djangomodal">Django</a></li>
          </div> 
        </div>            
<div class="content" id="contact">
    <div align="center">
      <div id="contact_wrapper" class="ui tertiary form segment">
        <h3>Want something built? Send me a message</h3>
        <%= simple_form_for @contact, :html => {:class => 'ui form attached fluid segment' } do |f| %>
          <div class="field" id="name">
            <label><label>
            <%= f.input :name, :required => true %>
          </div>
          <div class="field" id="email">
            <label><label>
          <%= f.input :email, :required => true %>
          </div>
          <div class="field">
            <label><label>
          <%= f.input :message, :as => :text, :required => true %>
          </div>
          <div>
            </br>
            <%= f.button :submit, 'Send message', :class=> "ui blue submit button", :id=>'submit_button' %>
          </div>
        <% end %>
      </div>
    </div>
</div>
</div>
</div>
    <section class="column-group gutters">
        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                </ul>
                <p class="note">All rights reserved.</p>
            </div>
        </footer>
    </section>
    <!--Modal-->
    <div id="htmlmodal" class="reveal-modal" data-reveal>
      <h2>Awesome. I have it.</h2>
      <p class="lead">Your couch.  It is mine.</p>
      <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <script>
    $('#awesome').addClass('animated zoomInLeft');
    </script>
